body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*permet de changer la police*/
    line-height: 1.5; /*permet de changer l'espace entre lignes et*/
    background-color: beige;
    border-radius: 30px;
    padding: 10px 50px 20px;
    align-content: space-around;
}

h1{
    color: #af230f;
    outline: 2px dashed blue;
}

h2{
    color: #a92a0c;
    outline: 2px dashed blue;
}

li{
    color: #e54a29;
    outline: 2px dashed blue;
}

img {
    outline: 2px dashed blue;
  }
