body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*permet de changer la police*/
    line-height: 1.5; /*permet de changer l'espace entre lignes et*/
    background-color: beige;
    border-radius: 30px;
    padding: 10px 50px 20px;
    align-content: space-around;
}

h1{
    color: #af230f;
}

h2{
    color: #a92a0c;
}
ul{
    li{
        color: #e54a29;
        list-style: none;
        background-color: #ffdab9;
        border-radius: 20px;
        padding: 20px 50px 2px;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

