body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*permet de changer la police*/
    line-height: 1.5; /*permet de changer l'espace entre lignes et*/
    background-color: beige;
    border-radius: 30px;
    padding: 10px 50px 20px;
    align-content: center;
}

h1{
    color: #af230f;
}

h2{
    color: #a92a0c;
}

li{
    color: #e54a29;
}
img{
    align-self:auto;
}